%p#notice= notice
%b
  = @product_type.name
#link_to_order_menu
  Заказать
#order_menu
  %hr{color: "green"}
  #link_out_order_menu
    Отмена
  - @product_colors.each do |product_color|
    #link_to_order_menu_color
      = product_color.name
  .clear
  .hide= product_color = ProductColor.find_by_name("Красный")
  .hide= product_sizes = ProductSize.where("product_color_id = ?", product_color.id)
  %table.table_to_cart
    %tr 
      %td{colspan: product_sizes.count} 
        Цвет:
        =product_color.name
    %tr
    - product_sizes.each do |product_size|
      %td
        %b=product_size.name
    %tr
    - product_sizes.each do |product_size|
      %td
        %input{size: 3}
    %tr 
      %td{colspan: product_sizes.count} 
        %button Добавить в корзину
