%h1 Поиск товара

Товар:
= form_for @product, method: :get, url:{action:"index", controller:product_sizes_path} do |f|
  .field
    = f.collection_select(:id, @search_products, :id, :name,{prompt: @current_product})
Тип:
= form_for @product_type, method: :get, url:{action:"index", controller:product_sizes_path} do |f|
  .field
    = f.collection_select(:id, @search_product_types, :id, :name,{prompt: @current_product_type})
Цвет:
= form_for @product_color, method: :get, url:{action:"index", controller:product_sizes_path} do |f|
  .field
    = f.collection_select(:id, @search_product_colors, :id, :name,{prompt: @current_product_color})
  
%hr{color:"green"}

%table
  %tr
    %th Товар
    %th Тип
    %th Цвет
    %th Размер
    %th Цена
  
  - @search_product_sizes.each do |product_size|
    %tr
      %td= Product.find_by_id(ProductType.find_by_id(ProductColor.find_by_id(product_size.product_color).product_type).product).name
      %td= ProductType.find_by_id(ProductColor.find_by_id(product_size.product_color).product_type).name
      %td= ProductColor.find_by_id(product_size.product_color).name
      %td= product_size.name
      %td= product_size.price