= link_to 'Заказы/Резервы', '#'
= link_to 'Пользователи', users_path
= link_to 'Редактирование склада', '#'
= link_to 'Настройки', user_groups_path
= link_to 'Архив', '#'
= link_to 'Управление скидками', '#'
