%h1 Listing users
= form_tag '/users', method: :get do
  = select_tag :temp_id, options_for_select([['Зарегестрированные пользователи', 1], ['Ожидают регистрации', 2]], params[:temp_id])
%table
  %tr
    %th Name
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.company_name
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
