%p#notice= notice
%h4
  Личный кабинет
  =@user.name 
%h6= link_to 'Редактировать', edit_user_path(@user)
%table
  %tr
    %td email:
    %td= mail_to @user.email
  %tr
    %td Последний раз на сайте:
    %td= @user.last_in.in_time_zone('Minsk')
%hr{color: "green"}
%h5 Организация пользавателя:
%table
  %tr
    %td Форма собственности:
    %td= @user.type_of_ownership
  %tr
    %td Название компании: 
    %td= @user.company_name
  %tr
    %td УНП:
    %td= @user.unp
  %tr
    %td Юридический адрес:
    %td= @user.juridical_address
  %tr
    %td Почтовый адрес:
    %td= @user.mailing_address
  %tr
    %td Контактное лицо:
    %td= @user.contact_name
  %tr
    %td Номер телефона:
    %td= @user.phone_number_0
  -if @user.phone_number_1 != ""
    %tr
      %td Номер телефона:
      %td= @user.phone_number_1
  -if @user.phone_number_2 != ""
    %tr
      %td Номер телефона:
      %td= @user.phone_number_2
  -if @user.phone_number_3 != ""  
    %tr
      %td Номер телефона:
      %td= @user.phone_number_3
  %tr
    %td Skype:
    %td= @user.skype
  %tr
    %td Время работы:
    %td= @user.work_time