- @organizations.each do |organization|
  %ul
    %li
      Форма собственности:
      = organization.type_of_ownership
    %li 
      Название компании: 
      = organization.company_name
    %li 
      УНП:
      = organization.unp
    %li 
      Юридический адрес:
      = organization.juridical_address
    %li 
      Почтовый адрес:
      = organization.mailing_address
    %li 
      Контактное лицо:
      = organization.contact_name
    %li 
      Номер телефона:
      = organization.phone_number_0
    %li 
      Адрес электронной почты:
      = organization.email
    %li 
      Время работы:
      = organization.work_time
  %h6= link_to 'Редактировать', edit_organization_path(organization)
  %br