!!!
%html
	%head
		%title Modern Import
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#temp_params_info
			=params
		=image_tag "Hat.png",{width: "100%" }
		#nav
			= link_to "Главная", "/"
			= link_to "Склад", "/products"
			= link_to "Перевод размеров", "/convertsizes"
			= link_to "Схема проезда", "/scheme"
			= link_to "О нас", "/about"
			= link_to "Контакты", "/contact"
			- if @current_user
				#nav_user
					%b
						=link_to @current_user.name, @current_user, id:"nav_user_name"
					= link_to "Выйти", logout_path, method: :delete
			- else
				#nav_user
					= link_to "Регистрация", "/register"
					%b|
					= link_to "Вход", login_path
		#left_main_column
			#cart
				= link_to "Поиск товара", product_sizes_path
				%hr{color: "green"}
				- if @cart
					= render @cart
			#left_main_menu
				= link_to "Футболки", "/products/1"
				= link_to "Рубашки поло", "/products/2"
				= link_to "Бейсболки", "/products/3"
				= link_to "Толстовки", "/products/4"
		#content
			= yield
		.clear
		%footer#footer