!!!
%html
	%head
		%title Verch
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#nav
			= link_to "Home", "/"
			= link_to "Products", "/products"
		= yield
		%footer#footer